body{
    background-color: black;
    color: white;
    width: 1550px;
    margin: 2%;
    
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
ul{
    list-style: none;
    display: flex;
    display: flex;
    justify-content: center;
}
ul li{
    margin-right: 5%;
    margin-left: 5%;
}
li div{
    border: rgb(62, 61, 61) 3px solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
li div:hover{
    background-color: rgb(28, 28, 28);
}
.linkt{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 15px;
    border-top: rgb(62, 61, 61) 2px solid;
    height: 15px;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 250px;
    height: 300px;
    border-radius: 20px;
}
img:hover{
    opacity: 0.6;
}